<!-- Blog -->
<section>
  <header class="major">
    <h2>O Blog</h2>
  </header>

  <div class="row">
    {% for post in site.posts offset: 0 limit: 2 %}
    <div class="6u">

      <section class="box">
        {% if post.featured %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="image featured"><img src="{{ site.baseurl }}{{ post.featured }}" alt="" /></a>
        {% endif %}
        <header>
          <h3>{{ post.title }}</h3>
          <p>Posted {{ post.date | date_to_string }}</p>
        </header>
        {{ post.excerpt }}
        <footer>
          <ul class="actions">
            <li><a href="{{ site.baseurl }}{{ post.url }}" class="button icon fa-file-text">Continue Lendo</a></li>
            <!-- <li><a href="{{ site.baseurl }}{{ post.url }}" class="button alt icon fa-comment">33 commentários</a></li> -->
          </ul>
        </footer>
      </section>

    </div>
    {% endfor %}
  </div>

  <div class="row">
    {% for post in site.posts offset: 2 limit: 2 %}
    <div class="6u">

      <section class="box">
        {% if post.featured %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="image featured"><img src="{{ site.baseurl }}{{ post.featured }}" alt="" /></a>
        {% endif %}
        <header>
          <h3>{{ post.title }}</h3>
          <p>Posted {{ post.date | date_to_string }}</p>
        </header>
        {{ post.excerpt }}
        <footer>
          <ul class="actions">
            <li><a href="{{ site.baseurl }}{{ post.url }}" class="button icon fa-file-text">Continue Lendo</a></li>
            <!-- <li><a href="{{ site.baseurl }}{{ post.url }}" class="button alt icon fa-comment">33 commentários</a></li> -->
          </ul>
        </footer>
      </section>

    </div>
    {% endfor %}
  </div>

</section>
