<!-- Logo -->
<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

<!-- Nav -->
{% assign current = page.url | downcase | split: '/' %}
<nav id="nav">
  <ul>
    <li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
    <li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
    <li {% if current[1] == 'about' %}class='current'{% endif %}><a href="{{ site.baseurl }}/about">Sobre Nós</a></li>
    <li>
      <a href="">Categorias</a>
      <ul>
        {% for category in site.categories %}
          <li><a href="{{ site.baseurl }}/{{ category[0] }}"> {{ category[0] }} </a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
