<!-- Logo -->
<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

<!-- Nav -->
{% assign current = page.url | downcase | split: '/' %}
<nav id="nav">
  <ul>
    <li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
    <li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
    <li {% if current[1] == 'about' %}class='current'{% endif %}><a href="{{ site.baseurl }}/about">Sobre Nós</a></li>
    <li>
      <a href="">Categorias</a>
      <ul>
        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li><a href="#">Magna phasellus</a></li>
        <li><a href="#">Etiam dolore nisl</a></li>
        <li>
          <a href="">Phasellus consequat</a>
          <ul>
            <li><a href="#">Magna phasellus</a></li>
            <li><a href="#">Etiam dolore nisl</a></li>
            <li><a href="#">Veroeros feugiat</a></li>
            <li><a href="#">Nisl sed aliquam</a></li>
            <li><a href="#">Dolore adipiscing</a></li>
          </ul>
        </li>
        <li><a href="#">Veroeros feugiat</a></li>
      </ul>
    </li>
  </ul>
</nav>
