<div class="4u">

  <!-- Sidebar -->
  {% for post in site.related_posts offset: 0 limit: 3 %}
  <section class="box">
    {% if post.featured %}
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="image featured"><img src="{{ post.featured | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ post.title }}" /></a>
    {% endif %}
    <header>
      <h3>{{ post.title }}</h3>
    </header>
    {{ post.excerpt }}
    <footer>
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="button alt">Continue Lendo</a>
    </footer>
  </section>
  {% endfor %}

</div>
