---
layout: default
---

<!-- Header -->
<div id="header-wrapper">
  <div id="header">

    {% include nav.html %}

  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Blog -->
        <section>
          <header class="major">
            <h2> Posts sobre {{ page.category }} </h2>
          </header>
          {% for post in site.categories[page.category] %}
          <div class="row">
            <div class="10u -1u">
              <section class="box">
                {% if post.featured %}
                  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="image featured"><img src="{{ post.featured | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ post.title }}" /></a>
                {% endif %}
                <header>
                  <h3>{{ post.title }}</h3>
                  <p>Posted {{ post.date | date_to_string }}</p>
                </header>
                {{ post.excerpt }}
                <footer>
                  <ul class="actions">
                    <li><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="button icon fa-file-text">Continue Lendo</a></li>
                    <!-- <li><a href="#" class="button alt icon fa-comment">33 commentários</a></li> -->
                  </ul>
                </footer>
              </section>
            </div>
          </div>
          {% endfor %}
        </section>

      </div>
    </div>
  </div>
</div>
