---
layout: default
---

<!-- Header -->
<div id="header-wrapper">
  <div id="header">

    {% include nav.html %}

  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      {% include sidebar.html %}
      <div class="8u skel-cell-important">

        <!-- Content -->
        <article class="box post">
          <a href="#" class="image featured"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
          <header>
            <h2>{{ page.title }}</h2>
            <p>Posted {{ page.date | date_to_string }}</p>
          </header>
          
          {{ content }}

        </article>

      </div>
    </div>
  </div>
</div>
