---
layout: default
---

<!-- Header -->
<div id="header-wrapper">
  <div id="header">

    {% include nav.html %}

  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="8u">

        <!-- Content -->
        <article class="box post">
          {% if page.featured %}
          <div class="image featured"><img src="{{ page.featured | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ page.title }}" /></div>
          {% endif %}
          <header>
            <h2>{{ page.title }}</h2>
            <p>Posted {{ page.date | date_to_string }}</p>
          </header>
          
          {{ content }}
          
        </article>

      </div>
      {% include sidebar.html %}
    </div>
  </div>
</div>
